/**
 * Slider section
 */
$fc_slider_images: '../../inc/flexible-content/sections/slider/img/';
.sidebar-enabled{
    #primary{
        .fc-slider{
            .container{
                padding-left: 15px;
                padding-right: 15px;
            }
            &.row{
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}
.fc-slider {
    position:relative;
    .fc-slider-container {
        overflow:hidden;
        position: relative;
        z-index: 1;
        .fc-slide {
            min-height:500px;
            position:relative;
            display: none;
            align-items: center;
            &:first-child {
                display: flex;
            }
            &.whole_slide_link {
                cursor:pointer;
            }
            .fc-slide-image {

            }
            .overlay {
                content:"";
                width:100%;
                height:100%;
                position: absolute;
                top:0;
                left:0;
                z-index: 12;
                background:$color__overlay;
            }
            .fc-slide-content {
                z-index: 15;
                position:relative;
                color:$color__overlay_text;
                //width:100%;
                .fc-slide-content-inner {
                    position:relative;
                    padding:100px 0;
                    @include media_query(aqua) {
                        padding:50px 10px;
                    }
                    h2 {
                        font-size:56px;
                        font-weight:700;
                        margin:0 0 40px;
                        -webkit-font-smoothing: antialiased;
                        line-height: 1.3;
                        @include media_query(aqua) {
                            font-size:45px;
                            br {
                                display: inline;
                                content:"";
                            }
                        }
                        @include media_query(blue) {
                            margin: 0 0 20px;
                            font-size:30px;
                        }
                    }
                    p {
                        margin: 0 0 40px;
                        font-size:20px;
                        -webkit-font-smoothing: antialiased;
                        @include media_query(aqua) {
                            br {
                                display: inline;
                                content:"";
                            }
                        }
                        @include media_query(blue) {
                            font-size:18px;
                            margin: 0 0 20px;
                        }
                    }
                    .fc-slide-button {
                        display: inline-block;
                        border:4px solid $color__overlay_text;
                        padding:15px 45px;
                        font-weight:700;
                        font-size:20px;
                        color:$color__overlay_text;
                        -webkit-font-smoothing: antialiased;
                        transition:all .2s ease-in-out;
                        position: relative;
                        @include font-smoothing(on);
                        &:after {
                            content:"";
                            position: absolute;
                            top:0;
                            left:50%;
                            width:0;
                            height:100%;
                            background:$color__overlay_text;
                            transition:all .2s ease-in-out;
                            opacity:0;
                        }
                        &:hover {
                            text-decoration:none!important;
                            padding:15px 55px;
                            &:after {
                                width:100%;
                                left:0;
                                opacity:.15;
                            }
                        }
                        @include media_query(blue) {
                            border:2px solid $color__overlay_text;
                            padding:12px 25px;
                            font-size:18px;
                            &:hover {
                                padding:12px 30px;
                            }
                        }
                    }
                }
            }
        }
        .owl-nav {
            position: absolute;
            top:50%;
            margin-top:-19px;
            width:100%;
            z-index: 20;
            padding: 0 20px;
            .owl-prev, .owl-next {
                width:52px;
                height:52px;
                position: absolute;
                top:0;
                left:20px;
                transition:all .2s ease-in-out;
                i {
                    font-size:50px;
                    color:$color__overlay_text;
                }
            }
            .owl-prev {
                left:-50px;
            }
            .owl-next {
                left:auto;
                right:-50px;
            }
        }
        .owl-dots {
            position: absolute;
            bottom:20px;
            left:50%;
            z-index: 22;
            overflow: hidden;
            transform: translateX(-50%);
            .owl-dot {
                border:2px solid $color__overlay_text;
                width:12px;
                height:12px;
                border-radius:12px;
                float: left;
                margin:0 4px;
                cursor:pointer;
                &.active {
                    background:$color__overlay_text;
                }
            }
        }
        &:hover {
            .owl-prev {
                left:0px;
            }
            .owl-next {
                right:0px;
            }
            @include media_query(aqua) {
                .owl-prev, .owl-next {
                    display: none;
                }
            }
        }
    }
}

.fc-slider {
    .fc-slider-container.fc-slider-full_screen {
        .owl-dots {
            display: none;
        }
    }
    .fc-slider-scroll-down {
        position:absolute;
        width:24px;
        height:40px;
        border:2px solid $color__overlay_text;
        bottom:20px;
        left:50%;
        margin-left:-12px;
        z-index: 25;
        border-radius:16px;
        cursor:pointer;
        span {
            position:absolute;
            display: block;
            width:6px;
            height:6px;
            background:$color__overlay_text;
            top:8px;
            left:50%;
            margin-left:-3px;
            border-radius:6px;
            @include animation(mouse_wheel 1.5s infinite);
        }
    }
}

@include keyframes(mouse_wheel) {
    0% {
        @include transform(translateY(0));
    }
    50% {
        @include transform(translateY(8px));
    }
    100% {
        @include transform(translateY(0px));
    }
}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .fc-slide { height: 768px; }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .fc-slide { height: 1024px; }
}
// iphone5
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    .fc-slide { height: 320px; }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    .fc-slide { height: 568px; }
}