.fc-call-to-action {
    .inner {
        padding:100px 0;
        text-align:center;
        position:relative;
    }
    @include media_query(orange) {
       // padding:100px 0;
    }
    figure {
        z-index: 10;
    }
    .overlay {
        content:"";
        width:100%;
        height:100%;
        position: absolute;
        top:0;
        left:0;
        z-index: 11;
        background:$color__overlay;
    }
    .container {
        position:relative;
        z-index: 12;
        @include media_query(orange) {
            padding: 0 15px;
        }
        h4 {
            font-weight:800px;
            font-size:50px;
            margin:0 0 10px;
            line-height: 1.3;
            @include font-smoothing(on);
            @include media_query(aqua) {
                font-size:40px;
            }
            @include media_query(blue) {
                font-size:30px;
            }
        }
        p {
            @include font-smoothing(on);
            margin-bottom:30px;
            font-size:18px;
            @include media_query(blue) {
                font-size:16px;
            }
        }
        a {
            display: inline-block;
            border-style:solid;
            border-width:4px;
            padding:15px 45px;
            font-weight:700;
            font-size:20px;
            color:inherit;
            margin-top:20px;
            -webkit-font-smoothing: antialiased;
            transition:all .2s ease-in-out;
            position: relative;
            @include font-smoothing(on);
            &:hover {
                text-decoration:none!important;
                padding:15px 55px;
            }
            @include media_query(blue) {
                border-width:2px;
                padding:12px 25px;
                font-size:18px;
                &:hover {
                    padding:12px 30px;
                }
            }
        }
    }
}