.flexible-content {
    &.fc-accordion {
        .panel-group {
            margin:0;
        }
        .panel{
            margin-bottom: 20px;
            border-radius: 0;
            border: none;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .panel-heading{
            color: $color__text;
            padding: 0;
            position: relative;

            a{
                display: block;
                @include font-size(1.8);
                padding: 13px 17px;
                text-decoration: none;
                position: relative;
                border: 2px solid $color__secondary;
                background: $color__secondary;
                color: $color__secondary_text;
                transition: background 0.15s ease-in-out, color 0.15s ease-in-out, border 0.15s ease-in-out;
                .icon {
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    right: 5px;
                    height: 50px;
                    width: 50px;
                    transition: border 0.15s ease-in-out;
                    &:before {
                        @include material-icon('remove_circle_outline');
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                &.collapsed{
                    color: $color__primary_text;
                    background: $color__primary;
                    border-color: $color__primary;
                    .icon{
                        &:before {
                            @include material-icon('add_circle_outline');
                        }
                    }
                }
                &:hover{
                    color: $color__secondary_text;
                    text-decoration: none;
                    background: $color__secondary;
                    border-color: $color__secondary;
                    .icon{
                        &:before{
                            color:$color__secondary_text;
                        }
                    }
                }
            }
        }
        .panel-collapse{
            border-top: none;
            border: 2px solid $color__secondary;
        }
        .panel-body{
            padding: 25px 29px;
            p {
                &:last-child {
                    margin-bottom:0;
                }
            }
        }
    }
}