.fc-mailchimp {
    padding:100px 0;
    text-align:center;
    position:relative;
    @include media_query(orange) {
        padding:100px 0;
    }
    figure {
        z-index: 10;
    }
    .overlay {
        content:"";
        width:100%;
        height:100%;
        position: absolute;
        top:0;
        left:0;
        z-index: 11;
        background:$color__overlay;
    }
    .container {
        position:relative;
        z-index: 12;
        @include media_query(orange) {
            padding: 0 15px;
        }
        h4 {
            font-weight:600;
            font-size:50px;
            margin:0 0 10px;
            line-height: 1.3;
            @include font-smoothing(on);
            @include media_query(aqua) {
                font-size:40px;
            }
            @include media_query(blue) {
                font-size:30px;
            }
        }
        p {
            @include font-smoothing(on);
            margin-bottom:30px;
            font-size:18px;
            @include media_query(blue) {
                font-size:16px;
            }
        }
        form {
            .inputs {
                overflow: hidden;
                position:relative;
                text-align:center;
                justify-content: center;
                display: flex;
                .mc-name, .mc-email, .mc-submit {
                    position:relative;
                    width:auto;
                }
                .mc-name, .mc-email {
                    width:260px;
                    padding-right:20px;
                    &.error {
                        input {
                            border-color: $brand-danger!important;
                        }
                    }
                }
                input {
                    background: transparent;
                    width:100%;
                    min-width:100px;
                    padding: 15px 25px;
                    margin:0;
                    height:60px;
                    box-shadow: none!important;
                    outline: none!important;
                    font-weight:400;
                    @include font-smoothing(on);
                    &::-webkit-input-placeholder {
                        color: inherit;
                        @include opacity(.7);
                    }
                    &:-moz-placeholder { /* Firefox 18- */
                        color: inherit;
                        @include opacity(.7);
                    }
                    &::-moz-placeholder {  /* Firefox 19+ */
                        color: inherit;
                        @include opacity(.7);
                    }
                    &:-ms-input-placeholder {
                        color: inherit;
                        @include opacity(.7);
                    }
                }
                .mc-submit {
                    input {
                        font-weight:600;
                        transition:all .2s ease-in-out;
                        @include font-smoothing(on);
                        &:hover {
                            padding: 15px 35px;
                        }
                    }
                }
            }
            &.working {
                .mc-submit {
                    position:relative;
                    &:after {
                        @include material-icon('sync');
                        position:absolute;
                        top:50%;
                        right:-50px;
                        font-size:40px;
                        margin-top:-20px;
                        animation: mc_spin 1s linear infinite;
                    }
                    input {
                        opacity:.6;
                        cursor: default;
                    }
                }
            }
        }
    }
}

@-moz-keyframes mc_spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes mc_spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes mc_spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }



