/*!
Theme Name: TankenBak
Theme URI: http://underscores.me/
Author: Automattic
Author URI: http://automattic.com/
Description: Hi. I'm a starter theme called <code>TankenBak</code>, or <em>underscores</em>, if you like. I'm a theme meant for hacking so don't use me as a <em>Parent Theme</em>. Instead try turning me into the next, most awesome, WordPress theme out there. That's what I'm here for.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: TankenBak
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

TankenBak is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Asides
    ## Comments
# Infinite scroll
# Media
    ## Captions
    ## Galleries
# Bootstrap // its is normal CSS not SCSS implementation yet
--------------------------------------------------------------
# Andny Master
--------------------------------------------------------------*/
@import "andy/andy";

@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize we using bootstrp normalize!
--------------------------------------------------------------*/
// @import "normalize";

/*--------------------------------------------------------------
# Bootstrap
--------------------------------------------------------------*/
@import "bootstrap/bootstrap";

/*--------------------------------------------------------------
# Typography USE BOOTSTRAP TYPO.SCSS FILE !
--------------------------------------------------------------*/
// @import "typography/typography";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
// @import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
// @import "site/site";

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
//@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";



html {
    box-sizing: border-box;
    font-size: 62.5% // all browsers have font size 16px, so we make base font to 10px, without any scallable problems.
}
body {
    padding:15px;
    background: #F5F5F5; /* Fallback for when there is no custom background color defined. */
    font-size: $base__fontsize;
    img.alignnone {
        margin-left:0!important;
        margin-right:0!important;
    }
}

