/*!
Theme Name: TankenBak
Theme URI: http://underscores.me/
Author: Automattic
Author URI: http://automattic.com/
Description: Hi. I'm a starter theme called <code>TankenBak</code>, or <em>underscores</em>, if you like. I'm a theme meant for hacking so don't use me as a <em>Parent Theme</em>. Instead try turning me into the next, most awesome, WordPress theme out there. That's what I'm here for.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: TankenBak
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

TankenBak is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> COLORS DEFINED:
----------------------------------------------------------------*/
$TankenBakColor: #B5272D;
$color__admin: #03a9f4;
/*--------------------------------------------------------------
# Andny Master
--------------------------------------------------------------*/
@import "andy/andy";

@import "variables-site/variables-site";
@import "mixins/mixins-master";


/*--------------------------------------------------------------
# Flexible content styles
--------------------------------------------------------------*/
@import "../../inc/flexible-content/flexible-admin";
@import "../../inc/flexible-content/sections/map/styles-admin";
//@import "../../inc/flexible-content/sections/**/_styles-admin.scss";

/*--------------------------------------------------------------
# Backend Redux style
--------------------------------------------------------------*/
body.wp-admin{
    .acf-field-link-picker{
        em[id$="-title-label"], em[id$="-url-label"], em[id$="-target-label"], em[id$="-postid-label"]{
            color: #2d2d2d;
            font-weight: 600;
            a{
                color: inherit;
            }
        }
        .link-remove-btn.acf-button{
            position: relative;
            background: $color__theme;
            box-shadow: 1px 2px 0px 1px darken($color__theme, 20%);
            color: #fff;
            border-radius: 3px;
            padding: 5px 15px;
            text-decoration: none;
            &:hover, &:focus{
                background: darken($color__theme, 20%);
                box-shadow: 1px 2px 0px 1px darken($color__theme, 40%);
            }
        }
        .link-btn.acf-button{
            position: relative;
            background: #0085ba;
            box-shadow: 1px 2px 0px 1px #006799;
            color: #fff;
            border-radius: 3px;
            padding: 5px 15px;
            text-decoration: none;
            &:hover, &:focus{
                background: #0576a2;
                box-shadow: 0px 1px 0px 0px #025177;
            }
        }
    }
}
.redux-container{
    #redux-header{
        background-color:$TankenBakColor !important;
        border-color: #23282D !important;
        .display_header{
            line-height: 31px;
            margin: 8px 26px;
            &>img{
                float: left;
            }
            &>h2{
                float: left;
                padding: 0 10px !important;
                line-height: inherit !important;
                font-weight: 300 !important;
            }
            &>span{
                color:rgba(255, 255, 255, 0.68) !important;
                font-weight: 300 !important;
                margin-top: 17px;
                display: inline-block;
            }
        }
    }
    .archive-style{
        li.redux-image-select{
            display: block !important;
            img{
                max-width: 300px !important;
            }
        }
    }
    .layout-select{
        li.redux-image-select{
            img{
                padding: 4px;
            }
        }
    }
    .redux-container-image_select .redux-image-select-selected img, .wp-customizer .redux-container-image_select .redux-image-select-selected img {
        border-color: #B5272D !important;
    }
    .redux-sidebar{
        .redux-group-menu{
            .activeChild{
                position: relative;
                &:before{
                    content: " ";
                    position: absolute;
                    border-style: solid;
                    height: 10px;
                    z-index: 1;
                    width: 0px;
                    top: 8px;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 10px 10px 10px 10px;
                    border-color: rgba(0, 173, 255, 0) rgba(0, 100, 205, 0) rgb(35, 40, 45) rgba(153, 153, 153, 0);
                }
                &>a{
                    background: #A22026 !important;
                }
                .subsection{
                    li.active{
                        a{
                            background-color: $TankenBakColor!important;
                            &:hover{
                                color: #fff !important;
                            }
                        }
                    }
                }
            }
            .subsection{
                a{
                    &:hover{
                        color: $TankenBakColor !important;
                    }
                }
            }
        }
    }
    .button{
        &.button-primary{
            background-color: $TankenBakColor;
            border-color: lighten($TankenBakColor, 0.5);
            border-radius: 0;
            text-shadow: none;
        }
    }

    .redux-info-field{
        &.redux-info{
            background-color: rgb(215, 244, 250);
            border-color: #19A8F4;
            color: #203040;
        }
        &.success{
            background-color: #58D998;
            border-color: #1CC380;
            color: #2A4841;
        }
        &.warning{
            background-color: #FDD768;
            border-color: #F88F58;
            color: #2A4841;
        }
        &.error{
            background-color: #E18081;
            border-color: #F1432B;
            color: #2A4841;
        }
    }

    #compile_info{
        h3{
            margin-bottom: 0px;
            color: #000;
        }
        .compile-info{
            color: black;
            padding: 10px 10px;
            background: #FDFDFD;
            display: inline-block;
            border-radius: 5px;
            margin: 10px 0;
            border: 1px solid #B9B9B9;
        }
    }
}

#sh_title.postbox {
    display: none!important;
}


#sc_select {
    width:180px;
}


