/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Asides
    ## Comments
# Infinite scroll
# Media
    ## Captions
    ## Galleries
# Bootstrap // its is normal CSS not SCSS implementation yet
*/


/*--------------------------------------------------------------
# Andny Master
--------------------------------------------------------------*/
@import "andy/andy";

@import "variables-site/variables-site";
@import "mixins/mixins-master";


/*--------------------------------------------------------------
# Bootstrap  For enable or disable elements in bootstrap,
# go to this file and uncomment elements that you need
--------------------------------------------------------------*/
@import "bootstrap/bootstrap";
/*--------------------------------------------------------------
# Normalize - we use bootstrap based
--------------------------------------------------------------*/
// @import "normalize";

/*--------------------------------------------------------------
# Typography USE BOOTSTRAP TYPO.SCSS FILE !
--------------------------------------------------------------*/
// @import "typography/typography";

/*--------------------------------------------------------------
|
|    MODULES
|
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Social Share
--------------------------------------------------------------*/
@import "modules/social-share";

/*--------------------------------------------------------------
# Social Share
--------------------------------------------------------------*/
@import "modules/author-block";

/*--------------------------------------------------------------
# Lazy loading
--------------------------------------------------------------*/
@import "modules/blazy";

/*--------------------------------------------------------------
# Cookie Law Info
--------------------------------------------------------------*/
@import "modules/cookie-law";

@import "modules/sweetalert2";


/*--------------------------------------------------------------
# lightgallery.js
# Has JS file
# https://sachinchoolur.github.io/lightgallery.js/
--------------------------------------------------------------*/
//@import "modules/lightgallery/lightgallery";


/*--------------------------------------------------------------
# 404 page and not found elements
--------------------------------------------------------------*/
@import "modules/404";


/*--------------------------------------------------------------
# Style for ajax login popup
--------------------------------------------------------------*/
@import "modules/ajax_login";
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";


/* JQ PLUGIMS BASED ON THEIR OWN BASE STYLE*/
/* OWL2 */
@import "modules/owl_carousel_2";
/* mscrollbar */
@import "modules/mscrollbar";


/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Site Styles
--------------------------------------------------------------*/
@import "site/site";

@import "site/header";

@import "site/footer";

@import "site/vc_composer";

@import "site/woocommerce";

@import "site/external_plugins";


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";

/*--------------------------------------------------------------
# Theme-Site
--------------------------------------------------------------*/
@import "variables-site/theme-site";

/*--------------------------------------------------------------
# Flexible content styles
--------------------------------------------------------------*/
@import "../../inc/flexible-content/flexible";
body {
    position:relative;
    //overflow-x:hidden;
}

.intrinsic {
  // Make sure <picture> wrapper is set to block
  // Max-width is governed by parentNode
  display: block;

  // Intrinsic Ratio Box
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 100%; // Default to square

  // Custom Styling
  background: #f0f0f0;

  // Add as many ratios as you'd like...
  &.intrinsic--square {
    padding-top: 100%;
  }

  &.intrinsic--4x3 {
    padding-top: 75%;
  }

  &.intrinsic--16x9 {
    padding-top: 56.25%;
  }
  &.intrinsic--none {
    padding-top: auto;
  }
  // Force the item to fill the intrinsic box
  .intrinsic-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

        #imagelightbox
        {
            cursor: pointer;
            position: fixed;
            z-index: 10000;

            -ms-touch-action: none;
            touch-action: none;

            -webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
            box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
        }


        /* ACTIVITY INDICATION */

        #imagelightbox-loading,
        #imagelightbox-loading div
        {
            border-radius: 50%;
        }
        #imagelightbox-loading
        {
            width: 2.5em; /* 40 */
            height: 2.5em; /* 40 */
            background-color: #444;
            background-color: rgba( 0, 0, 0, .5 );
            position: fixed;
            z-index: 10003;
            top: 50%;
            left: 50%;
            padding: 0.625em; /* 10 */
            margin: -1.25em 0 0 -1.25em; /* 20 */

            -webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
            box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
        }
            #imagelightbox-loading div
            {
                width: 1.25em; /* 20 */
                height: 1.25em; /* 20 */
                background-color: $white;

                -webkit-animation: imagelightbox-loading .5s ease infinite;
                animation: imagelightbox-loading .5s ease infinite;
            }

            @-webkit-keyframes imagelightbox-loading
            {
                from { opacity: .5; -webkit-transform: scale( .75 ); }
                50%  { opacity: 1;  -webkit-transform: scale( 1 ); }
                to   { opacity: .5; -webkit-transform: scale( .75 ); }
            }
            @keyframes imagelightbox-loading
            {
                from { opacity: .5; transform: scale( .75 ); }
                50%  { opacity: 1;  transform: scale( 1 ); }
                to   { opacity: .5; transform: scale( .75 ); }
            }


        /* OVERLAY */

        #imagelightbox-overlay
        {
            background-color: $white;
            background-color: rgba( 0, 0, 0, .8 );
            position: fixed;
            z-index: 1000; // one more than header
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }


        /* "CLOSE" BUTTON */

        #imagelightbox-close        {
            width: 2.5em; /* 40 */
            height: 2.5em; /* 40 */
            text-align: left;
            background-color: $color__secondary;
            border-radius: 50%;
            position: fixed;
            z-index: 1002;
            top: 2.5em; /* 40 */
            right: 2.5em; /* 40 */
            box-shadow: none;
            border: none;
            transition: color .3s ease;
       &:hover, &:focus { background-color: #111; }
           &:before,
           &:after            {
                width: 2px;
                background-color: $color__secondary_text;
                content: '';
                position: absolute;
                top: 20%;
                bottom: 20%;
                left: 50%;
                margin-left: -1px;
            }
           &:before            {
                -webkit-transform: rotate( 45deg );
                -ms-transform: rotate( 45deg );
                transform: rotate( 45deg );
            }
           &:after            {
                -webkit-transform: rotate( -45deg );
                -ms-transform: rotate( -45deg );
                transform: rotate( -45deg );
            }

        }
        /* CAPTION */

        #imagelightbox-caption
        {
            text-align: center;
            color: $white;
            background-color: #666;
            position: fixed;
            z-index: 1001;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0.625em; /* 10 */
        }


        /* NAVIGATION */

        #imagelightbox-nav
        {
            background-color: #444;
            background-color: rgba( 0, 0, 0, .5 );
            border-radius: 20px;
            position: fixed;
            z-index: 1001;
            left: 50%;
            bottom: 3.75em; /* 60 */
            padding: 0.313em; /* 5 */

            -webkit-transform: translateX( -50% );
            -ms-transform: translateX( -50% );
            transform: translateX( -50% );
        }
            #imagelightbox-nav button
            {
                width: 1em; /* 20 */
                height: 1em; /* 20 */
                background-color: transparent;
                border: 1px solid $white;
                border-radius: 50%;
                display: inline-block;
                margin: 0 0.313em; /* 5 */
            }
            #imagelightbox-nav button.active
            {
                background-color: $white;
            }


        /* ARROWS */

        .imagelightbox-arrow{
            width: 40px;
            height: 52px;
            background-color: #444;
            background-color: $color__primary;
            vertical-align: middle;
            display: none;
            position: fixed;
            z-index: 1001;
            box-shadow: none;
            border: none;
            top: 50%;
            margin-top: -26px;
        }
        .imagelightbox-arrow:hover,
        .imagelightbox-arrow:focus  { background-color: rgba( $color__primary, .75 ); }
        .imagelightbox-arrow:active { background-color: #111; }

            .imagelightbox-arrow-left   { left: 0.5em; /* 40 */ }
            .imagelightbox-arrow-right  { right: 0.5em; /* 40 */ }

            .imagelightbox-arrow:before
            {
                width: 0;
                height: 0;
                border: 1em solid transparent;
                content: '';
                display: inline-block;
                margin-bottom: -0.125em; /* 2 */
            }
                .imagelightbox-arrow-left:before
                {
                    border-left: none;
                    border-right-color: $color__primary_text;
                    margin-left: -0.313em; /* 5 */
                }
                .imagelightbox-arrow-right:before
                {
                    border-right: none;
                    border-left-color: $color__primary_text;
                    margin-right: -0.313em; /* 5 */
                }

        #imagelightbox-loading,
        #imagelightbox-overlay,
        #imagelightbox-close,
        #imagelightbox-caption,
        #imagelightbox-nav,
        .imagelightbox-arrow
        {
            -webkit-animation: fade-in .25s linear;
            animation: fade-in .25s linear;
        }
            @-webkit-keyframes fade-in
            {
                from    { opacity: 0; }
                to      { opacity: 1; }
            }
            @keyframes fade-in
            {
                from    { opacity: 0; }
                to      { opacity: 1; }
            }

        @media only screen and (max-width: 41.250em) /* 660 */
        {
            #container
            {
                width: 100%;
            }
            #imagelightbox-close
            {
                top: 1.25em; /* 20 */
                right: 1.25em; /* 20 */
            }
            #imagelightbox-nav
            {
                bottom: 1.25em; /* 20 */
            }

            .imagelightbox-arrow
            {
                width: 2.5em; /* 40 */
                height: 3.75em; /* 60 */
                margin-top: -2.75em; /* 30 */
            }
            .imagelightbox-arrow-left   { left: 1.25em; /* 20 */ }
            .imagelightbox-arrow-right  { right: 1.25em; /* 20 */ }
        }

        @media only screen and (max-width: 20em) /* 320 */
        {
            .imagelightbox-arrow-left   { left: 0; }
            .imagelightbox-arrow-right  { right: 0; }
        }


.bg-covered{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.local_copy {
    position:relative;
    .mqi {
        z-index: 99999;
        display: block;
        width:20px;
        height:20px;
        bottom:10px;
        left:10px;
        position:fixed;
        border-radius: 20px;
        @include media_query(orange) {
            background: orange!important
        }
        @include media_query(red) {
            background: red!important
        }
        @include media_query(aqua) {
            background: aqua!important
        }
        @include media_query(blue) {
            background: blue!important
        }
        @include media_query(green) {
            background: green!important
        }
    }
}

html {
    #primary {
       // @include opacity(0);
        transition: opacity .2s ease-in-out;
    }
    &.js-enabled #primary {
        @include opacity(1);
    }
}