#colophon {
    position:relative;
    padding:100px 0;
    overflow: hidden;
    .footer-background {
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index: 10;
        figcaption {
            display: none;
        }
        figure, .lazy-wrapper, .image-item {
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }
    .footer-overlay {
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index: 11;
        background: rgba(#000,.5);
    }
    .footer-content {
        position: relative;
        z-index: 12;
        color:#fff;
        @include font-smoothing(on);
        .widget {
            .widget-title {
                margin:0 0 60px;
                text-transform: uppercase;
                font-size:20px;
                font-weight:600;
                @include opacity(.8);
            }
            ul.menu {
                margin:0;
                padding:0;
                li {
                    list-style:none;
                    margin: 0 0 20px 0;
                    padding:0;
                    a {
                        color:#fff!important;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    .cpr-block {
        position:absolute;
        z-index: 13;
        width:100%;
        bottom:30px;
        color:#fff;
        font-size:14px;
        @include opacity(.6);
        @include font-smoothing(on);
        a {
            color:#fff;
        }

    }
}