.queries {
    position: fixed;
    top:0;
    left:0;
    background:$white;
    font-size:10px;
}
body {
    padding-top:82px; // for fixed header
    // &.home{
    //     //padding-top: 82px;
    // }
}
#masthead {
    .menu-toggle{
        transform: scale(0.85);
        display: block;
        box-shadow: none;
        border: none;
        background: transparent;
        width: 65px;
        padding: 12px 10px;
        position: absolute;
        top: 2px;
        z-index: 90;
        right: -13px;
        transition: top 0.2s ease-in-out;
        &:focus{
            outline: 1px dashed $brand-info;
        }
        // @include mquery(480px){
        //     margin-top: -9px;
        //     transform: scale(0.75);
        // }
        span{
            display: block;
            height: 4px;
            margin-bottom: 8px;
            background: $color__text;
            will-change: transform, background-color;
            transition: transform .2s ease-in-out, background-color .2s ease-in-out;

            &:nth-child(1){
                transform-origin: 7px 10px;
            }
            &:nth-child(3){
                transform-origin: 9px -4px;
                margin-bottom: 0;
            }
            &:nth-child(2){
                transform-origin: center center;
            }
        }
        &.active{
            &:focus{
                //outline: 1px dashed #fff;
            }
            span{
                //background-color: #fff;
                &:nth-child(1){
                    transform: rotate(45deg);
                }
                &:nth-child(3){
                    transform: rotate(-45deg);
                }
                &:nth-child(2){
                    transform: scale(0);
                }
            }
        }
    }
    background: #fff;
    padding: 10px 0;
    position:relative;
    transition: padding 0.2s ease-in-out;
    &.tiny{
        padding: 10px 0;
        .menu-toggle{
            top: -8px;
            @include mquery(480px){
                top: -10px;
            }
        }
        .page-logo{
            img{
                max-height: 40px;
                @include mquery(480px){
                    max-height: 30px;
                }
            }
        }
    }
    &.fixed {
        position: fixed;
        width:100%;
        top:0;
        left:0;
        z-index: 999;
        //box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }
    .site-branding {
        float: left;
        .page-logo {
            display: block;
        }
    }
    .page-logo{
        img{
            transition: max-height 0.2s ease-in-out;
            max-height: 60px;
        }
    }

    #site-navigation {
        float: right;
        position: relative;
        #primary-menu {
            @include opacity(0);
            position:absolute;
            top:53px;
            min-width:200px;
            right:-200px;
            visibility: hidden;
            background: #fff;
            border: 1px solid #eee;
            transition:all .2s ease-in-out;
            ul {
                margin:0;
                padding:0;
                li {
                    padding:0;
                    list-style:none;
                    text-align: left;
                    &:first-child{
                        a{
                            border-top: none;
                        }
                    }
                    a {
                        border-top: 1px solid #eee;
                        color: #333;
                        text-decoration:none!important;
                        display: block;
                        padding:12px 20px;
                        font-weight:700;
                        @include font-smoothing(on);
                        &:hover {
                            background: rgba($color__primary, .2);
                        }
                    }
                    &.current_page_item {
                        a {
                            background: $color__primary;
                            color:#fff;
                        }
                    }
                }
            }
        }
        &.toggled {
            #primary-menu {
                @include opacity(1);
                z-index: 9999;
                right:0;
                visibility: visible;
            }
        }
    }
}

body.admin-bar #masthead.fixed {
    top:32px;
    @include media_query(aqua) {
        top:46px;
    }
}