// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## 404
--------------------------------------------------------------*/
@import "404";

@import "templates/page_templates";

img{
    max-width: 100%;
    height: auto;
}

.post-status{
    text-transform: uppercase;
}
.container{
    // padding-right: 0;
    // padding-left: 0;
}
.sidebar-disabled{
    &.container-fluid{

    }
}
.sidebar-enabled{
    #primary{
        .container{
            padding-right: 0;
            padding-left: 0;
            width: 100%;
        }
    }
}

.wpcf7-form{
    p{
        margin: 0;
    }
}
.entry-content, #tinymce, #secondary, .widget, .page-container{
    input[type="text"],input[type="password"],input[type="datetime"],
    input[type="datetime-local"],input[type="date"],input[type="month"],
    input[type="time"], input[type="week"],input[type="number"],input[type="email"],
    input[type="url"],input[type="search"],input[type="tel"],input[type="color"], textarea{
        min-width: 50%;
        background: #fff;
        color: $text-color;
        padding: 10px 17px;
        border: 1px solid #BEC2CE;
        @include font-size(1.6);
        margin: 10px 0;
        &:focus{
            border-color: $color__secondary;
            outline: 1px solid $color__secondary;
        }
        &:hover, &:active{
            border-color: $color__secondary;
        }
        @include mquery(767px){
            min-width: 100%;
        }
    }
}
input[type="submit"], button[type="submit"], .btn-normal{
    @include font-size(1.7);
    font-weight:  800;
    border: 2px solid $color__secondary;
    background: #fff;
    color: $color__secondary;
    text-align: center;
    padding: 18px 36px;
    border-radius: 0;
    margin: 10px 0;
    transition: background 0.2s, color 0.2s;
    //box-shadow: inset 0px 0px 0 2px #fff;
    &:hover, &:focus, &:active{
        color: #fff  ;
        background: $color__secondary;
        //box-shadow: inset 0px 0px 0 2px #fff;
    }
}
input[type='radio']{
    &:after, &:before{
        border-radius: 20px;
    }
}

input#daterange.post-event{
    background: #fff;
}
input[type='radio'], input[type='checkbox']{
    //visibility: hidden;
    position: relative;
    display: inline-block;
    margin-right: 14px;
    z-index: 1;
    &:after, &:before{
        content: '';
        position: absolute;
        background: white;
        visibility: visible;
    }
    &:before{
        width: 18px;
        height: 18px;
        left: 0px;
        top: -7px;
        border: 2px solid #212C39;
        z-index: 2;
    }
    &:after{
        width: 10px;
        height: 10px;
        left: 4px;
        top: -3px;
        z-index: 3;
        @include scale(0);
        transition: background 0.15s, transform 0.15s;
    }
    &:focus{
        &:after{
            background: rgba(33, 44, 57, 0.6);
            @include scale(1);
        }
    }
    &:checked{
        &:after{
            background: #212C39;
            @include scale(1);
        }
    }
}