body.error404{
    .main_header{
       // display: none;
    }
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00bf9c+0,00c698+50,00bf9c+98 */
    // background: rgb(0,191,156); /* Old browsers */
    // background: -moz-linear-gradient(left,  rgba(0,191,156,1) 0%, rgba(0,198,152,1) 50%, rgba(0,191,156,1) 98%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(left,  rgba(0,191,156,1) 0%,rgba(0,198,152,1) 50%,rgba(0,191,156,1) 98%); Chrome10-25,Safari5.1-6
    // background: linear-gradient(to right,  rgba(0,191,156,1) 0%,rgba(0,198,152,1) 50%,rgba(0,191,156,1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bf9c', endColorstr='#00bf9c',GradientType=1 ); /* IE6-9 */
    // color: #fff;
    #footer{
        //background: transparent;
    }
    .error_404_page{
        font-family: "Lucida Console", Monaco, monospace;
        text-align: center;
        font-smoothing: antialiased;
        -webkit-font-smoothing: antialiased;
       // position: absolute;
       // top: 50%;
       // left: 50%;
        /* width: 100%; */
        /* height: 100%; */
       // transform: translate(-50%, -50%);
        letter-spacing: 0.5px;
        font-size: 1.3em;
        color: #A8ACB9;
        margin: 149px 0 90px;
        a.home_btn{
            color: #FFFFFF;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            border-radius: 30px;
            background: $color__theme;
            margin-top: 30px;
            padding: 10px 35px;
            font-size: 90%;
            transition: all 0.2s ease-in-out;
            &:hover{
                background: darken($color__theme, 20%);
                text-decoration: none;
            }
        }
        h4{
            font-weight: 700;
            font-size: 4em;
            text-align: center;
            text-shadow: 6px 6px 0px #EFF0F4;
            margin: 0 0 0.9em 0;
            line-height: 1em;
            span{
                border: 5px solid #A8ACB9;
                padding: 0px 59px;
                box-shadow: 6px 6px 0px rgb(231, 233, 239);
            }
        }
    }
}