/* Text meant only for screen readers. */
html {
	box-sizing: border-box;
	font-size: 62.5% // all browsers have font size 16px, so we make base font to 10px, without any scallable problems.
}
body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	font-size: $base__fontsize;
}
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		background-color: $color__background-screen;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: $color__text-screen;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

::-moz-selection {
	background: $color__selection__bg;
	color: $color__selection__text;
}
::selection {
	background: $color__selection__bg;
	color: $color__selection__text;
}

/* Let's get this party started */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background: $color__scrollbar_bg;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: $color__scrollbar_inactive;
}