.entry-author{
    @include rem(margin-bottom, 3);
    @include rem(margin-top, 1);
    .author-contant{
        min-height: 92px;
        .author-avatar{
            float: left;
            display: inline-block;
            width: 100px;
            @include rem(margin-right, 1.5);
        }
        .author-name{
            font-weight: 600;
            border-bottom: 3px solid black;
            &:first-letter{
                text-transform: uppercase;
            }
        }
        .author-info{
        }
    }
}