/*
* This file contain styles for Lazy loading images
* based on Js blazy
*/

.b-lazy, .b-thumb, {
    transition: transform 250ms ease-in-out;
    max-width: 100%;
    @include opacity(0);
    position: relative;
    z-index: 2;
    //filter: blur(30px);
    /* this is needed so Safari keeps sharp edges */
    //transform: scale(1);
    @include mquery(767px){
        //will-change: none;
        //filter: none;
    }

}
.lazy-wrapper{
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 0;
    .image-faker{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        padding-bottom: inherit;
        background-size: cover;
        background-position: center center;
        filter: blur(15px);
        @include mquery(1100px){
            filter: none;
        }
    }
    &:after{
        content:" ";
        position: absolute;
        background: transparent;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}
.b-blur{
    padding-bottom: inherit;
    transition: opacity 0.2s ease-in-out;
    max-width: 100%;
    will-change: opacity;
    //filter: blur(15px);
    @include opacity(0);
    /* this is needed so Safari keeps sharp edges */
    //transform:scale(1.2,1.2);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    //overflow: hidden;
    z-index: 2;
    @include mquery(1100px){
        will-change: none;
        filter: none;
        transform: none;
    }
}

div.b-lazy, div.b-thumb{
    padding-bottom: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    will-change: transform;
}
.b-blur.b-loaded{
    @include opacity(1);
    //transform:scale(1);
    @include mquery(1100px){
        filter: none;
        transform: none;
    }
}
.b-lazy.b-loaded, .b-thumb.b-loaded {
    opacity: 1;
    //filter: blur(0);

}
.b-loader{

}
.b-wrapper.no-image{
    &:before{
        content: none;
        display: none;
    }
}
.b-wrapper{
    width: auto;
    position: relative;
    background-image: none;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    &:before {
        content: " ";
        display: inline-block !important;
        border-width: 3px 5px 2px 0;
        width: 32px;
        height: 32px;
        @include animate-spin;
        border-image: none;
        border-radius: 20px;
        border-style: solid;
        border-color: gray;
        border-bottom-color: transparent !important;
        vertical-align: middle;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
}
.b-responsive{
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.pricture_demension {
    height: 0;
    display: block;
    &.pricture_demension--square, &.pricture_demension--1x1 {
        padding-bottom: 100%;
    }

    &.pricture_demension--4x3 {
        padding-bottom: 75%;
    }
    &.pricture_demension--3x4 {
        padding-bottom: 133%;
    }

    &.pricture_demension--16x9 {
        padding-bottom: 56.25%;
    }
    figure, .lazy-wrapper, .image-item {
        padding-bottom: inherit;
        background-size: cover;
        background-position: center center;
        position: relative;
        z-index: 2;
    }
    &.pricture_demension--none {
        padding-bottom: auto;
        height: auto;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index: 10;
        figcaption {
            display: none;
        }
        figure, .lazy-wrapper, .image-item {
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            position: absolute;
            background-size: cover;
            background-position: center center;
        }
    }
}



/*--------------------------------------------------------------
## responsive iframe
--------------------------------------------------------------*/

.iframe-flexible-container {
    margin-top: 20px;
    position: relative;
    padding-bottom: 56.25%;
    //padding-top: 30px;
    height: 0;
    background-color: #2196f3;
    background-size: 200px  200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"><metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata><g><g><g><g><path fill="#fff" d="M224.2,380.2c-98.7,0-178.9-80.3-178.9-178.9S125.5,22.4,224.2,22.4c98.7,0,179,80.3,179,178.9S322.8,380.2,224.2,380.2z M224.2,80c-66.9,0-121.3,54.4-121.3,121.3c0,66.9,54.4,121.3,121.3,121.3c66.9,0,121.3-54.4,121.3-121.3S291.1,80,224.2,80z"/></g><g><path fill="#fff" d="M144.8,215.7c-8,0-14.4-6.4-14.4-14.4l-0.1-2.9c-0.1-3-0.1-5.2,0.8-9.9c1.5-7.8,9.1-12.9,16.9-11.4c7.8,1.5,12.9,9.1,11.4,16.9c-0.4,1.9-0.4,1.9-0.3,3.5l0.1,3.8C159.2,209.3,152.8,215.7,144.8,215.7z"/></g><g><path fill="#fff" d="M158.2,171.6c-2.8,0-5.6-0.8-8-2.4c-6.6-4.4-8.4-13.4-3.9-20c17.5-26.1,46.6-41.6,77.9-41.6c8,0,14.4,6.4,14.4,14.4c0,8-6.4,14.4-14.4,14.4c-21.7,0-41.9,10.8-54,28.8C167.4,169.4,162.8,171.6,158.2,171.6z"/></g><g><path fill="#fff"  d="M627.7,380.2c-98.7,0-178.9-80.3-178.9-178.9S529,22.4,627.7,22.4c98.7,0,179,80.3,179,178.9S726.4,380.2,627.7,380.2z M627.7,80c-66.9,0-121.3,54.4-121.3,121.3c0,66.9,54.4,121.3,121.3,121.3c66.9,0,121.3-54.4,121.3-121.3S694.6,80,627.7,80z"/></g><g><path fill="#fff" d="M561.7,171.6c-2.8,0-5.6-0.8-8-2.4c-6.6-4.4-8.4-13.4-4-20c17.5-26.1,46.6-41.6,77.9-41.6c8,0,14.4,6.4,14.4,14.4c0,8-6.4,14.4-14.4,14.4c-21.7,0-41.9,10.8-54,28.8C570.9,169.4,566.3,171.6,561.7,171.6z"/></g><g><path fill="#fff" d="M646.8,977.6H111.6c-56,0-101.6-36.4-101.6-90.4V510.6c0-56.1,47.5-109.4,101.6-109.4h535.2c55.1,0,99.9,48.6,99.9,104.6c0,0.7,0,2.8-0.1,3.5l-0.7,10.8c42.4-22.1,107.2-56.1,152.5-80.4c15.3-7.4,27.9-10.5,39.5-10.5c14.4,0,26.1,5.2,35.6,14.8c18,18.2,16.5,45.3,16.5,56.8v1.5v387.8c0,17.3-2.5,30.1-9.7,40c-6.1,8.4-18.7,18.6-39.5,18.6c0,0,0.9,0,0.9,0c-11.7,0-23.7-3.2-38.9-7.9c-1.7-0.5-3.2-1.3-4.7-2.1c-55.2-29.1-114.7-59.9-152.9-79.1l1.5,24c0.1,0.6,0.1-1.8,0.1-1.2C746.6,937.5,702.8,977.6,646.8,977.6z M111.6,458.8c-22.5,0-44,27.3-44,51.7v376.7c0,22.4,19.5,32.7,44,32.7h535.2c23.4,0,41.8-14.4,42.3-36.8l-4.3-69.7c-0.5-7.9,2.3-15,7.8-20.7c5.4-5.8,13-8.7,21-8.7c8.6,0,15.3,0.2,209.2,102.3c3,0.9,7.3,2.2,11.3,3.2l0-389.6c0.1-5.7-0.2-9.5-0.5-12c-2.1,0.6-5.1,1.7-9.1,3.6C725.5,598,723,598,713.5,598c-8,0-15.6-3.3-21.1-9.2c-5.5-5.9-8.2-13.7-7.6-21.7l4.2-62.2c-0.5-23.5-19.6-46.1-42.3-46.1H111.6L111.6,458.8z"/></g><g><g><path fill="#fff" d="M110.9,637.6c-8,0-14.4-6.4-14.4-14.4v-73.2c0-26.7,23.3-62.3,52.2-62.3h122.4c8,0,14.4,6.4,14.4,14.4c0,8-6.4,14.4-14.4,14.4H148.7c-10.5,0-23.4,20.1-23.4,33.5v73.2C125.3,631.2,118.8,637.6,110.9,637.6z"/></g><g><path fill="#fff" d="M343.2,516.5h-14.4c-8,0-14.4-6.4-14.4-14.4c0-8,6.4-14.4,14.4-14.4h14.4c8,0,14.4,6.4,14.4,14.4C357.6,510,351.1,516.5,343.2,516.5z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></g>
</svg>');
    // &:after{
    //     content: '';
    //   color: #ffffff;
    //   font-size: 90px;
    //   text-indent: -9999em;
    //   overflow: hidden;
    //   width: 1em;
    //   height: 1em;
    //   border-radius: 50%;
    //   margin: 72px auto;
    //   //position: relative;
    //   -webkit-transform: translateZ(0);
    //   -ms-transform: translateZ(0);
    //   transform: translateZ(0);
    //   -webkit-animation: load6 1.7s infinite ease;
    //   animation: load6 1.7s infinite ease;
    //  position: absolute;
    //     top: 20%;
    //     left: 45%;
    //     z-index: 1;

    // }
}

.iframe-flexible-container iframe,
.iframe-flexible-container object,
.iframe-flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    z-index: 2;
}
