.cookie-container{
    position: fixed;
    width:100%;
    bottom: 0px;
    background-color: $color__cookie_bg;
    padding: 10px 0;
    @include font-size(1.4);
    font-weight: 300;
    color: $color__cookie_txt;
    z-index: 99999;
    .cookie-body{
        padding: 0 15px;
        margin: 0;
        width: 100%;
        @include mquery(767px){
            display: block;
            padding: 0;
        }
    }
    .cookie-buttons{
        min-width: 209px;
        @include mquery(767px){
            display: block;
        }
        a{
            color: #fff;
            padding: 8px 15px;
            margin: 5px 5px;
            border-radius: 6px;
            white-space: nowrap;
            display: inline-block;
            @include mquery(767px){
                padding: 6px 15px;
            }
            &:hover, &:focus{
                text-decoration: none;
                @include opacity(0.89);
            }
        }
        .cookie-accept{
            background-color: $color__cookie_accept;
            border-color: darken($color__cookie_accept, 2%);
            font-weight: 300;
            &:hover{
                background-color: darken($color__cookie_accept, 5%);
            }
        }
        .cookie-read_more{
            background-color: $color__cookie_more;
            border-color: darken($color__cookie_more, 2%);
            font-weight: 300;
            &:hover{
                background-color: darken($color__cookie_more, 5%);
            }
        }
    }
}