.entry-share{
    @include rem(margin-bottom, 3);
    @include rem(margin-top, 1);
    .share-header{
        text-align: center;
        font-weight: 600;
        @include font-size(1.7);
        @include rem(margin-bottom, 3);
    }
    .share-contant{
        text-align: center;
        ul.page-share{
            list-style: none;
            text-align: center;
            margin:0;
            padding:0;
            li.share-link{
                display: inline-block;
                a{
                    padding: 5px 25px;
                    color: #fff;
                    @include font-size(1.6);
                    background-color: #D0D0D0;
                    display: block;
                    &:hover{
                        text-decoration: none;
                    }
                }
                &.facebook-share{
                    a{
                        background-color: #3A599A;
                    }

                }
                &.twitter-share{
                    a{
                        background-color: #00ADF0;
                    }

                }
                &.googleplus-share{
                    a{
                        background-color: #DE4731;
                    }

                }
                &.linkedin-share{
                    a{
                        background-color: #007CB8;
                    }

                }
                &.pinterest-share{
                    a{
                        background-color: #CC161C;
                    }

                }
            }
        }

    }
}