.sidebar-enabled{
    .fc-map{
        .row{
            margin-left: 0;
            margin-right: 0;
        }
    }
}
.fc-map {
    &.full-width{
        .row{
            margin-left: 0;
            margin-right: 0;
        }
    }
    .fc-map-container {
        @include media_query(aqua) {
            pointer-events: none;
        }
        height:400px;
        .marker_content {
            h6 {
                font-size:15px;
                margin: 5px 0 10px;
                font-weight:600;
            }
            p {
                margin:0;
                font-size:15px;
            }
        }
    }
}