.acf-field.marker_address {
    position: relative;
}
.acf-field.marker_address .get_lat_lng_button {
    position:absolute;
    top:0;
    right:0;
    z-index: 50;
    height: 98%;
    display: inline-block;
}
.acf-field.marker_address img {
    position:absolute;
    top: 6px;
    right: 127px;
    z-index: 50;
    display: inline-block;
}
.acf-field.marker_address input[type="text"] {
    padding-right:125px;
}