.widget {
    margin: 0 0 1.5em;

    /* Make sure select elements fit in widgets. */
    select {
        max-width: 100%;
    }
    .widget-title{
        @include font-size(2.2);
        position: relative;
        &:after{
            content: '';
            position: relative;
            display: block;
            height: 2px;
            background: $color__secondary;
        }

    }
    ul{
        padding-left: 10px;
        list-style: none;
        a{
            //text-decoration: underline;
        }
    }
    > ul{
        padding-left: 0;
    }
}

/* Search widget. */
.widget_search .search-submit {
    display: none;
}