/**
 * Posts section
 */
$fc_posts_images: '../../inc/flexible-content/sections/posts/img/';
$ghost_text_color: #d8d8d8;
$ghost_image: #d8d8d8;
$color_posted: #60676E;
.fc-posts {
    overflow: hidden;
    .fc-posts-container {
        position: relative;
        @extend %clearfix;
    }
}
//GHOSTS
.fc-posts-ghosts{
    .fc-post-ghost{
        margin-bottom: 30px;
        .fc-post-image-ghost{
            background: $ghost_image;
            margin-bottom: 20px;
        }
        .fc-post-title-ghost{
            display: block;
            padding-bottom: 3px;
            height: 32px;
            width: 100%;
            position: relative;
            h4{
                height: 16px;
                /* margin-top: 5px; */
                background: $ghost_text_color;
                position: absolute;
                width: 79%;
                top: -10px;
            }
        }
        .fc-post-excerpt-ghost{
            position: relative;
            height: 63px;
            span{
                display: block;
                background: $ghost_text_color;
                height: 8px;
                margin-bottom: 12px;
                margin-top: 8px;
                &:nth-child(1){
                    width: 95%;
                }
                &:nth-child(2){
                    width: 70%;
                }
                &:nth-child(3){
                    width: 80%;
                }
            }

        }
        .fc-posts-meta-ghost{
            position: relative;
            height: 35px;
            &:before, &:after{
                background: $ghost_text_color;
                content: '';
                display: block;
                position: relative;
                margin-top: 9px;
                margin-bottom: 12px;
                height: 6px;
            }
            &:before{
                width: 85%;
            }
            &:after{
                width: 65%;
            }
        }

        &.style-ghost-1{
            .fc-post-title-ghost{
                h4{
                    width: 80%;
                }
            }
            .fc-post-excerpt-ghost{
                span{
                    &:nth-child(1){
                        width: 75%;
                    }
                    &:nth-child(2){
                        width: 92%;
                    }
                    &:nth-child(3){
                        width: 40%;
                    }
                }
            }
            .fc-posts-meta-ghost{
                &:before{
                    width: 65%;
                }
                &:after{
                    width: 85%;
                }
            }
        }
        &.style-ghost-2{
            .fc-post-title-ghost{
                h4{
                    width: 95%;
                }
            }
            .fc-post-excerpt-ghost{
                span{
                    &:nth-child(1){
                        width: 86%;
                    }
                    &:nth-child(2){
                        width: 92%;
                    }
                    &:nth-child(3){
                        display: none;
                    }
                }
            }
            .fc-posts-meta-ghost{
                &:before{
                    width: 65%;
                }
                &:after{
                    width: 85%;
                }
            }
        }
        &.style-ghost-3{
            .fc-post-title-ghost{
                h4{
                    width: 86%;
                }
            }
            .fc-post-excerpt-ghost{
                span{
                    &:nth-child(1){
                        width: 75%;
                    }
                    &:nth-child(2){
                        width: 62%;
                    }
                    &:nth-child(3){
                        display: none;
                        width: 40%;
                    }
                }
            }
            .fc-posts-meta-ghost{
                &:before{
                    width: 74%;
                }
                &:after{
                    width: 57%;
                }
            }
        }
    }
}

.fc-post.theme-grid, .fc-post.theme-carousel {
    margin-bottom:30px;
    a.fc-post-image {
        margin-bottom:20px;
        display: block;
        position: relative;
        .featured-mark {
            position: absolute;
            width:25px;
            height: 25px;
            top:12px;
            left:15px;
            z-index: 50;
            display: block;
            color:$brand-info;
            font-size:30px;
        }
    }
    .fc-post-info {
        a.fc-post-title {
            color:$color__text;
            display: inline-block;
            padding-bottom: 3px;
            border-bottom:3px solid transparent;
            transition:all .3s ease-in-out;
            h4 {
                display: inline-block;
                font-weight:600;
                line-height: 1.3;
                margin:0;
            }
            &:hover {
                border-bottom:3px solid $color__text;
            }
        }
        p.fc-post-excerpt {
            margin:10px 0 10px 0;
            color:$color__text;
            font-size: 15px;
        }
        .fc-post-posted {
            font-size:14px;
            color:$color_posted;
            font-style: italic;
        }
        .fc-post-cats {
            font-size:14px;
            color:$color_posted;
            font-style: italic;
            a {
                color:$color_posted;
                text-decoration:underline;
                margin-right: 10px;
            }
        }
    }
}

.fc-post.theme-list {
    margin-bottom:30px;
    overflow: hidden;
    position:relative;
    a.fc-post-image {
        float: left;
        display: block;
        width:50%;
        z-index: 10;
        @include media_query(red) {
            width:100%;
            float: none;
            z-index: 9;
        }
    }
    .fc-post-info {
        position:absolute;
        width:50%;
        top:30px;
        bottom:30px;
        right:15px;
        display: block;
        background:$color__primary;
        padding:30px 40px;
        z-index: 9;
        @include media_query(orange) {
            top:0px;
            bottom:0px;
        }
        @include media_query(red) {
            background: rgba($color__primary, .9);
            z-index: 10;
        }
        @include media_query(aqua) {
            left:15px;
            width:auto;
        }
        @include media_query(blue) {
            position: relative;
            background:$color__primary;
            right:auto;
            left:auto;
            padding:15px 20px;
        }
        a.fc-post-title {
            color:$color__text;
            display: inline-block;
            padding-bottom: 3px;
            border-bottom:3px solid transparent;
            transition:all .3s ease-in-out;
            h4 {
                display: inline-block;
                font-weight:600;
                line-height: 1.3;
                margin:0;
            }
            &:hover {
                border-bottom:3px solid $color__text;
            }
        }
        p.fc-post-excerpt {
            margin:10px 0 10px 0;
            color:$color__text;
            font-size: 15px;
        }
        .fc-post-posted {
            font-size:14px;
            color:$color_posted;
            font-style: italic;
        }
        .fc-post-cats {
            font-size:14px;
            color:$color_posted;
            font-style: italic;
            a {
                color:$color_posted;
                text-decoration:underline;
                margin-right: 10px;
            }
        }
    }
}

.fc-posts-container.theme-carousel {
    .owl-nav {
        position: absolute;
        top:50%;
        margin-top:-19px;
        width:100%;
        z-index: 20;
        padding: 0 20px;
        .owl-prev, .owl-next {
            width:50px;
            height:50px;
            position: absolute;
            top:0;
            left:-50px;
            transition:all .2s ease-in-out;
            &.disabled {
                @include opacity(.5);
                cursor:default;
            }
            i {
                font-size:50px;
                color: $color__secondary;
            }
        }
        .owl-next {
            left:auto;
            right:-50px;
            background-position: top center;
        }
    }
}
.fc-post{
    a.post-edit-link{
        position: absolute;
        z-index: 10;
        top: 0;
        right: 15px;
        color: $color__secondary_text;
        background: $color__secondary;
        display: inline-block;
        padding: 4px 15px;
        text-align: center;
        vertical-align: middle;
        &:hover, &:focus{
            text-decoration: none;
        }
    }
}

.fc-post-product-specific {
    .add_to_cart_inline {
        border:none!important;
        padding:0!important;
        position:relative;
        overflow: hidden;
        .woocommerce-Price-amount {
            display: block;
            font-size: 20px;
            font-weight:600;
            margin-bottom:10px;
            overflow: hidden;
        }
        del, ins {
            display: inline-block;
        }
        del {
            margin-right:15px;
            color:#F7412D;
        }
        ins {
            text-decoration:none;
        }
        .button {
            display: block;
            border-radius:0;
            border: 2px solid $color__text;
            background: transparent;
            color:$color__text;
            padding:15px 25px;
            position: relative;
            &.add_to_cart_button {
                &:after {
                    position:absolute;
                    top:12px;
                    right:25px;
                    width:21px;
                    height:21px;
                    @include material-icon('add_shopping_cart');
                }
            }
            &.added {
                &:after {
                    background: transparent;
                    top:12px;
                    right:22px;
                    color:#89C540;
                }
            }
            &.loading {
                &:after{
                    @include material-icon('autorenew');
                    @include animation(spin 1.5s infinite);
                }
            }
            &:hover {
                background: rgba($color__text, .1);
            }
        }
        .added_to_cart {
        }
    }
}


.fc-load-more {
    display: block;
    padding:13px 25px;
    background: $color__primary;
    color:$color__primary_text!important;
    font-size:18px;
    font-weight:600;
    text-decoration:none!important;
    position:relative;
    transition:all .2s ease-in-out;
    cursor: default;
    @include opacity(.5);
    &.enabled {
        cursor:pointer;
        @include opacity(1);
    }
    &:after {
        content:"";
        width:0;
        height:100%;
        position:absolute;
        top:0;
        left:50%;
        background: rgba($color__secondary, .04);
        transition:all .2s ease-in-out;
    }
    .reload {
        position:absolute;
        top:10px;
        right:20px;
        width:30px;
        height:30px;
        display: block;
        transition:all .2s ease-in-out;
        font-size:30px;
        //animation:spin .5s linear infinite;
    }
    &.enabled:hover {
        padding-left: 35px;
        &:after {
            width:100%;
            left:0;
        }
        .reload {
            right:30px;
        }
    }
    &.loading {
        .reload {
            animation:spin .5s linear infinite;
        }
    }
}

@include keyframes(cart_move) {
    0% { @include transform(translateX(0)); }
    50% { @include transform(translateX(10px)); }
    100% { @include transform(translateX(0px)); }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }