// This file is used to merage all flexible content scss/css
// This file is used in admin area, file is included into style.scss
//

$padding: 5px;
.flexible-content{
    &.fc-gallery{
        .image-spacing{
            // padding-left: 5px;
            // padding-right: 5px;
            .gallery{
                margin-left: -$padding;
                margin-right: -$padding;
                margin-top: -$padding;
                margin-bottom: -$padding;
            }
            .gallery-item{
                padding: $padding;
            }
        }
        .gallery{
            margin-bottom: 0;
        }
    }
}