/*!
Theme Name: TankenBak
Theme URI: http://underscores.me/
Author: Automattic
Author URI: http://automattic.com/
Description: Hi. I'm a starter theme called <code>TankenBak</code>, or <em>underscores</em>, if you like. I'm a theme meant for hacking so don't use me as a <em>Parent Theme</em>. Instead try turning me into the next, most awesome, WordPress theme out there. That's what I'm here for.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: TankenBak
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

TankenBak is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}#acf-group_tb_content_builder .acf-field-s-text-block-columns .acf-input ul.acf-radio-list li{width:78px}#acf-group_tb_content_builder .acf-field-s-text-block-columns .acf-input ul.acf-radio-list li label{font-weight:bold;padding-top:45px;position:relative;display:block;text-align:center;font-size:14px;font-weight:400}#acf-group_tb_content_builder .acf-field-s-text-block-columns .acf-input ul.acf-radio-list li label input[type="radio"]{display:none}#acf-group_tb_content_builder .acf-field-s-text-block-columns .acf-input ul.acf-radio-list li label:before{position:absolute;display:inline-block;top:0;left:0;width:80px;height:38px;content:'';border:2px solid black;background:url(../../inc/flexible-content/sections/text-block/img/text_blocks_select.jpg) 0 0 no-repeat}#acf-group_tb_content_builder .acf-field-s-text-block-columns .acf-input ul.acf-radio-list li label.selected:before,#acf-group_tb_content_builder .acf-field-s-text-block-columns .acf-input ul.acf-radio-list li label:hover:before{border-color:#03a9f4}#acf-group_tb_content_builder .acf-field-s-text-block-columns .acf-input ul.acf-radio-list li:nth-child(1) label:before{background-position:-4px -2px}#acf-group_tb_content_builder .acf-field-s-text-block-columns .acf-input ul.acf-radio-list li:nth-child(2) label:before{background-position:-2px -66px}#acf-group_tb_content_builder .acf-field-s-text-block-columns .acf-input ul.acf-radio-list li:nth-child(3) label:before{background-position:-2px -34px}.mini_editor iframe{min-height:150px !important;height:150px !important}.acf-field.marker_address{position:relative}.acf-field.marker_address .get_lat_lng_button{position:absolute;top:0;right:0;z-index:50;height:98%;display:inline-block}.acf-field.marker_address img{position:absolute;top:6px;right:127px;z-index:50;display:inline-block}.acf-field.marker_address input[type="text"]{padding-right:125px}.redux-container #redux-header{background-color:#B5272D !important;border-color:#23282D !important}.redux-container #redux-header .display_header{line-height:31px;margin:8px 26px}.redux-container #redux-header .display_header>img{float:left}.redux-container #redux-header .display_header>h2{float:left;padding:0 10px !important;line-height:inherit !important;font-weight:300 !important}.redux-container #redux-header .display_header>span{color:rgba(255,255,255,0.68) !important;font-weight:300 !important;margin-top:17px;display:inline-block}.redux-container .archive-style li.redux-image-select{display:block !important}.redux-container .archive-style li.redux-image-select img{max-width:300px !important}.redux-container .layout-select li.redux-image-select img{padding:4px}.redux-container .redux-container-image_select .redux-image-select-selected img,.redux-container .wp-customizer .redux-container-image_select .redux-image-select-selected img{border-color:#B5272D !important}.redux-container .redux-sidebar .redux-group-menu .activeChild{position:relative}.redux-container .redux-sidebar .redux-group-menu .activeChild:before{content:" ";position:absolute;border-style:solid;height:10px;z-index:1;width:0px;top:8px;left:50%;margin-left:-5px;border-width:10px 10px 10px 10px;border-color:rgba(0,173,255,0) rgba(0,100,205,0) #23282d rgba(153,153,153,0)}.redux-container .redux-sidebar .redux-group-menu .activeChild>a{background:#A22026 !important}.redux-container .redux-sidebar .redux-group-menu .activeChild .subsection li.active a{background-color:#B5272D !important}.redux-container .redux-sidebar .redux-group-menu .activeChild .subsection li.active a:hover{color:#fff !important}.redux-container .redux-sidebar .redux-group-menu .subsection a:hover{color:#B5272D !important}.redux-container .button.button-primary{background-color:#B5272D;border-color:#b7272e;border-radius:0;text-shadow:none}.redux-container .redux-info-field.redux-info{background-color:#d7f4fa;border-color:#19A8F4;color:#203040}.redux-container .redux-info-field.success{background-color:#58D998;border-color:#1CC380;color:#2A4841}.redux-container .redux-info-field.warning{background-color:#FDD768;border-color:#F88F58;color:#2A4841}.redux-container .redux-info-field.error{background-color:#E18081;border-color:#F1432B;color:#2A4841}.redux-container #compile_info h3{margin-bottom:0px;color:#000}.redux-container #compile_info .compile-info{color:black;padding:10px 10px;background:#FDFDFD;display:inline-block;border-radius:5px;margin:10px 0;border:1px solid #B9B9B9}#sh_title.postbox{display:none !important}#sc_select{width:180px}

/*# sourceMappingURL=style-admin.css.map */