$fc_team_images: '../../inc/flexible-content/sections/team/img/';
.flexible-content{
    &.fc-team{
        margin-bottom: 30px;
        .team-member{
            figure{
                padding-left: 20px;
                padding-right: 20px;
            }
            margin-bottom: 30px;
            .member-data{
                padding-top: 67px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 20px;
                margin-top: -50px;
                background: $color__primary;
                .member-name{
                    @include font-size( 2 );
                    font-weight: 700;
                }
                .member-name{
                    @include font-size( 1.6 );
                }
                .contact-info{
                    ul{
                        padding: 0;
                        list-style: none ;
                        margin: 10px 0 0 0;
                        li{
                            margin-bottom: 11px;
                            &:last-child {
                                margin-bottom:0;
                            }
                        }
                        a{
                            position: relative;
                            color: $color__text;
                            text-decoration: underline;
                            &.phone{
                            }
                            &.email{
                            }
                        }
                        i {
                            font-size:24px;
                            bottom: -7px;
                            position: relative;
                            display: inline-block;
                            margin-right: 10px;
                            @include media_query(orange) {
                                display: none;
                            }
                        }
                    }
                }
            } // member data
            @include mquery(480px){
                display: table;
                width: 100%;
                height: inherit;
                figure{
                    display: table-cell;
                    padding: 0;
                    min-width: 150px;
                    margin: 0;
                }
                .pricture_demension, .image-item, figure{
                    height: inherit;
                }
                .member-data{
                    display: table-cell;
                    margin: 0;
                    padding: 15px;
                    width: 100%;
                    vertical-align: top;
                }
            }
        }
    }
}