.sticky {
    display: block;
}
body{
    overflow-x: hidden;
    &.archive, &.blog, &.search{
        .fc-post{
            margin-top: 20px;
            margin-bottom: 30px;
            @include mquery(767px){
                margin-top: 00px;
                margin-bottom: 15px;
            }
        }
        #primary{
            margin-bottom: 60px;
            @include mquery(767px){
                margin-bottom: 30px;
            }
        }
    }
}

.navi-block{
    text-align: center;
    span.current{
        background-color: #8CBD28;
        color: #fff;
    }
}

.entry-thumb figcaption {
    margin: 5px 10%;
    text-align: center;
    width: 80%;
    color: $color__text_gray;
    @include font-size(1.4);
    @include font-smoothing(on);
}

.page-title{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 3.8px;
    font-size: 4.2rem;
    font-weight: 300;
    color: #001927;
    span{
        font-weight: 600;
    }
    @include mquery(1191px){
        @include font-size(3.4);
    }
    @include mquery(991px){
        @include font-size(3);
    }
    @include mquery(480px){
        @include font-size(2.4);
    }
}
.entry-thumb.container.page-block{
    margin-top: 20px;
}
.entry-header.page-block{
    padding: 0 15px;
}
.edit-link{
    display: inline-block;
    float: right;
    padding: 6px 14px;
    border: 1px solid $color__link;
    transition: all 0.2s ease-in-out;
    a{
        text-decoration: none;
        transition: all 0.2s ease-in-out;
    }
    &:hover{
        background-color: $color__link;
        a{
            color: #fff;
            text-decoration: none;
        }
    }
}
body.single-page{
    #content{
        .entry-title{
            margin-bottom: 40px;
            @include mquery(767px){
                margin-bottom: 20px;
            }
        }
    }
    .panel-body, .fc-text-block{
        a{
            text-decoration: underline;
        }
    }
}
body.single-post{
    #content{
        a{
            text-decoration: underline;
        }
    }
}
#content{

    .entry-title{
        margin-top: 0;
        font-size: 42px;
        font-size: 4.2rem;
        font-weight: 300;
        color: #001927;
        @include mquery(1191px){
            @include font-size(3.8);
        }
        @include mquery(991px){
            @include font-size(3.2);
        }
        @include mquery(480px){
            @include font-size(2.6);
        }
    }

}
.tags-links{
    .icon-tag{
        margin: 0 8px;
        transform: rotateX(0) rotateY(180deg);
    }
}
.cat-links{
    .icon-cat{
        margin-right: 8px;
    }
}
.entry-meta, .cat-links, .tags-links{
    text-decoration: none;
    margin-top: 5px;
    color: $color__text_gray;
    @include font-size(1.4);
    @include font-smoothing(on);
    a{
        color: inherit;
        text-decoration: none !important;
        &:hover{
            text-decoration: underline !important;
        }
    }
}
.entry-meta{
    margin-top: 5px;
    margin-bottom: 30px;
    border-bottom: 1px solid #D0D2D7;
    padding-bottom: 10px;
    @include mquery(767px){
        margin-bottom: 15px;
    }
}
.single-post{
    // .entry-header{
    //     margin-top: 34px;
    // }
    #content{
        .container{
            max-width: 960px;
            margin: 0 auto;
        }
    }

    .entry-thumb{
        margin-bottom: 30px;
        @include mquery(767px){
            margin-bottom: 15px;
        }
    }
    @include mquery(782px){
        .entry-thumb{
            margin-left: -30px;
            margin-right: -30px;
            min-height: 250px;
            figure, .lazy-wrapper, .image-item{
                min-height: inherit;
            }
            figcaption{
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
    @include mquery(767px){
        .entry-thumb{
            margin-left: -15px;
            margin-right: -15px;
            figcaption{
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

.hentry {
    margin: 0 0 1.5em;
}
body.page {
    .hentry {
        margin:0;
    }
}

.byline,
.updated:not(.published){
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin:0;
}
.single{
    #page{
        margin-top: 20px;
        margin-bottom: 60px;
    }
}
.page-links {
    clear: both;
    margin: 0 0 1.5em;
}