/*
* This file contain base styles like border colors
* background colors, etc based on Theme Color in variables-site.scss
*/

.base-border-color{
    border-color: $color__theme ;
    &:after, &:before{
        border-color: $color__theme ;
    }
}
.base-backbround-color{
    background-color: $color__theme ;
}
