/* Main colors */
$color__text: #32383F;
$color__link: #304D5C;
$color__link_hover: #304D5C;
$color__primary: #EAEBEB;
$color__primary_text: #32383F;
$color__secondary: #32383F;
$color__secondary_text: #fff;
$color__overlay: #000;
$color__overlay_text: #fff;
$color__theme: $color__secondary;


$black: #000;
$white: #fff;

/* Backgrounds */
$color__background-body: $white;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

//== Scaffolding
$body-bg:               $color__background-body;
$text-color:           $color__text;
$link-color:            $color__link;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: underline;
//additional
$color__text-screen: #21759b;
$color__link-visited: purple;

//== BASE COLORS
$brand-primary:         $color__theme; // #337ab7 //defaiult
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

/* SELECTION AND BROWSER SCROLLBAR */
$color__selection__bg: lighten($color__theme, 15%);
$color__selection__text : #fff;
$color__scrollbar_bg: $color__theme;
$color__scrollbar_inactive: lighten($color__theme, 40%);

/* Cookie Bar */
$color__cookie_bg: lighten($color__theme, 20%);
$color__cookie_txt : #fff;
$color__cookie_accept : #24CD6E;
$color__cookie_more: #304D5C;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

/*Typo*/
$font__main: "Open Sans", sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$base__fontsize: $base-font-size; // based from Andy mixins

//== Typography
$font-family-sans-serif: $font__main;
$font-family-serif:       Georgia, "Times New Roman", Times, serif ;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   $font__code;
$font-family-base:        $font-family-sans-serif;



