// This file is used to merage all flexible content scss/css
// This file is used in admin area, file is included into style.scss
//
body{
    background: pink !important  ;
}

.flex-content{
    &.gallery-owl{
            $owl_height_gallery: 300px;
            .gallery-carousel{
                height: $owl_height_gallery;
            }
            .b-wrapper{
                overflow: hidden;
                .bg-holder{
                    transition: all 0.38s cubic-bezier(0.51, 0.05, 0.61, 0.99);
                }
                &:hover, &:focus{
                    cursor: pointer;
                    .bg-holder{
                        transform: rotate(1deg) scale(1.15);
                    }
                }
            }
            .owl-carousel{
                position: relative;
                .owl-nav{
                    .owl-prev, .owl-next{
                        @include font-size( 4 );
                        line-height: 1;
                        position: absolute;
                        top: 50%;
                        width: 50px;
                        height: 50px;
                        transform: translate(0, -50%);
                        text-align: center;
                        color: #444444;
                        background: royalblue;
                        transition: all 0.2s ease-in-out;
                        &.disabled{
                            @include opacity(0.6);
                        }
                        &:hover, &:focus{
                            background: #444;
                            color: $color__theme;
                        }
                    }
                    .owl-prev{
                        left: 0;
                    }
                    .owl-next{
                        right: 0;
                    }
                }
            }
            .owl-item{
                height: $owl_height_gallery;
                .b-wrapper{
                    height: inherit;
                }
            }
    } // end of owl carousel
}