.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
    br{
        display: none;
    }
    img[class*="wp-image-"] {
        @include center-block;
        border: 6px solid $color__primary;
    }

    .wp-caption-text {
        margin: 0;
        @include font-size(1.4);
        font-style: italic;
        background: $color__primary;
        padding: 4px 6px 10px 6px;
    }
}

.wp-caption-text {
    //text-align: center;
}
