// additional admi nstyles
$fc_images: '../../inc/flexible-content/sections/text-block/img/';

#acf-group_tb_content_builder{
    .acf-field-s-text-block-columns {
        .acf-input{
            ul.acf-radio-list{
                li{
                     width: 78px;
                    label{
                        input[type="radio"]{
                            display: none;
                        }
                        font-weight: bold;
                        padding-top: 45px;
                        position: relative;
                        display: block;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 400;
                        &:before{
                            position: absolute;
                            display: inline-block;
                            top: 0;
                            left: 0;
                            width: 80px;
                            height: 38px;
                            content: '';
                            border: 2px solid black;
                            background: url(#{$fc_images}text_blocks_select.jpg) 0 0 no-repeat;
                        }
                        &.selected, &:hover{
                            &:before{
                                border-color: $color__admin;
                            }
                        }
                    }
                    &:nth-child(1){
                        label{
                            &:before{
                                background-position: -4px -2px;
                            }
                        }
                    }
                    &:nth-child(2){
                        label{
                            &:before{
                                background-position: -2px -66px;
                            }
                        }
                    }
                    &:nth-child(3){
                        label{
                            &:before{
                                background-position: -2px -34px;
                            }
                        }
                    }
                }
            }
        }
    }
}
