// This file is used to merage all flexible content scss/css
// This file is used in admin area, file is included into style.scss
//

$padding: 5px;
.flexible-content{
    &.fc-gallery{

        &.full-width{
            .container{
                width: 100%;
                max-width: 100%;
                padding: 0 20px;
                .col-xs-12{
                    padding: 0;
                }
            }
           .inner{
                margin: 0 5px !important;
            }
        }
        &.no-image-spacing{
            .inner{
                margin: 0 !important;
                figure{
                    padding: 0;
                }
            }
        }
        .gallery-container{
            &.padding-gallery{
            }
            .image-hover{
                transition: transform 0.15s;
            }
            .inner{
                margin-left: -$padding;
                margin-right: -$padding;
                margin-top: -$padding;
                margin-bottom: -$padding;
            }
            figure{
                a{
                    width: 100%;
                }
                padding: $padding;
                display:block;
                float: left;
                overflow: hidden;
                width: 100%;
            }
            &.gallery-container--col-2{
                figure{
                    width: 50%;
                }
            }
            &.gallery-container--col-3{
                figure{
                    width: 33.333%;
                    @include mquery(767px){
                        width: 50%;
                    }
                }
            }
            &.gallery-container--col-4{
                figure{
                    width: 25%;
                    @include mquery(991px){
                        width: 33.333%;
                    }
                    @include mquery(767px){
                        width: 50%;
                    }
                }
            }
            &.gallery-container--col-5{
                figure{
                    width: 20%;
                    @include mquery(1170px){
                        width: 25%;
                     }
                    @include mquery(991px){
                        width: 33.333%;
                    }
                    @include mquery(767px){
                        width: 50%;
                    }
                }
            }
        }
    }
}