// flexible content global styles

$fc_images: '../../inc/flexible-content/img/';
$fc_fonts: '../../inc/flexible-content/fonts/';
$animation_time: .3s;

@font-face {
  font-family: 'material';
  font-style: normal;
  font-weight: 400;
  src: url(#{$fc_fonts}material/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(#{$fc_fonts}material/MaterialIcons-Regular.woff2) format('woff2'),
       url(#{$fc_fonts}material/MaterialIcons-Regular.woff) format('woff'),
       url(#{$fc_fonts}material/MaterialIcons-Regular.ttf) format('truetype');
}
@mixin material-icon-css() {
    font-family: 'material';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
@mixin material-icon($content:'') { // works only on :before & :after
    content:"#{$content}";
    @include material-icon-css();
}
.material-icons {
    @include material-icon-css();
}

// sections
@import "sections/slider/styles";
@import "sections/posts/styles";
@import "sections/gallery/styles";
@import "sections/image-carousel/styles";
@import "sections/files/styles";
@import "sections/accordion/styles";
@import "sections/text-block/styles";
@import "sections/team/styles";
@import "sections/map/styles";
@import "sections/call-to-action/styles";
@import "sections/mailchimp/styles";
@import "sections/image/styles";

.fc-section-heading {
    h3 {
        font-weight: 300;
        font-size: 45px;
        margin: 0 0 30px;
        text-transform: uppercase;
        @include media_query(aqua) {
            font-size:30px;
        }
    }
}

.flexible-content {
    margin-bottom: 60px;
    &.full-width{
        .container{
            max-width: 100%;
        }
    }
    &.no-spacing {
        margin-bottom: 0;
    }
}

.image-effect{
    &.image-effect--special{
        &:hover{
            transform: scale(1.2) rotate(2deg);
        }
    }
}
.image-hover {
    display: block;
    position:relative;
    &:after, &:before{
        content:"";
        position: absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        display: block;
        @include opacity(0);
    }
    &:after{
        z-index: 6;
        transition:opacity $animation_time ease-in-out;
        will-change: opacity;
    }
    &:before {
        z-index: 5;
        cursor:pointer;
        transition:opacity $animation_time ease-in-out;
        will-change: opacity;
        background: rgba($color__overlay, .5);
    }
    &.image-hover-link {
        &:after {
            @include material-icon('link');
            color: $color__overlay_text;
            font-size: 70px;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            height: auto;
            animation: out $animation_time;
        }
    }
    &.image-hover-zoom {
        &:after {
            @include material-icon('zoom_in');
            color: $color__overlay_text;
            font-size: 70px;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            height: auto;
            animation: out $animation_time;
        }
    }
    &:hover {
        &:after{
            @include opacity(.6);
            animation: in $animation_time;
        }
        &:before {
            @include opacity(1);
        }
    }
    @-webkit-keyframes out {
        from   {
            font-size: 70px;
        }
        to {
            font-size: 0px;
        }
    }

    @-webkit-keyframes in {
        0%   {
            font-size: 140px;
        }
        100% {
            font-size: 70px;
        }
    }
}